body, html {
    height: 100%;
}
  

html {
    scroll-behavior: smooth;
}
nav{
    width: 100%;
    z-index: 2;
}


body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
}
  
.bgimg-1, .bgimg-2, .bgimg-3 {
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.bgimg-1 {
    background-image: url("https://i1.wp.com/sorocabanices.com.br/wp-content/uploads/2019/08/Pizza-HD-Desktop-Wallpaper-15280_compress32.jpg?fit=3872%2C2592&ssl=1");
    min-height: 100%;
}
  
.bgimg-2 {
    background-image: url("http://wallpapersdsc.net/wp-content/uploads/2015/11/Pizza_Wallpaper7.jpg");
    min-height: 400px;
}
  
.bgimg-3 {
    background-image: url("http://7wallpapers.net/wp-content/uploads/19_Pizza.jpg");
    min-height: 400px;
}
  
.bgimg-4 {
    background-image: url("http://araldipizzaria.com.br/wp-content/uploads/2016/04/slidermm.jpg");
    min-height: 400px;
}

h3, h1 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: darkred;
}

#ini{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 2rem;
}

#sabor{
    position: absolute;
    left: 0;
    top: 80rem;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 2rem;
}

#cadastro {
    position: absolute;
    left: 0;
    top: 135rem;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 2rem;
}

.sab{
    transition: all 0.5s;
    color: black;
}

.sab:hover{
    font-size: 24px;
    transition: all 0.5s;
}

ul{
    text-align: center;
}